.App {
  max-width: 600px;
  margin: 30px auto;
   background-image: url("https://media.istockphoto.com/id/1147521090/photo/empty-white-studio-room-abstract-background.jpg?b=1&s=612x612&w=0&k=20&c=kLakIguajNmKqVd-lsVCABPHOlNutuoSuw-dHhxUnmg=");
  background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius: 36px;
box-shadow:0 30px 50px rgba(34, 218, 182, 0.24); 
}


.App footer {
  font-size: 11px;
  margin: 10px 0;
  font-weight: 400;
  text-align: center;
  padding: 16px 0px;
}