.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  margin: 80px auto;
  max-width: 600px;
        background: #f0f0f0ac;
 padding: 34px;
border-radius: 16px;
box-shadow:0 30px 50px rgba(0, 0, 0, 0.08); 
color: #3f3f3f;
display: block;
}

.Weather form{
    margin-bottom: 24px;
}

.Weather h1 {
  font-size: 24px;
  color: #535252;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  border-radius: 16px;
color: #878787;
}
input{
font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
  background-color: rgb(251, 251, 251) !important; 
  color: #535252 !important;
}


.btn{
    color: rgb(12, 230, 190);
border-color:rgb(224, 224, 224);

}
